html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}


/*body {
	background: #392C44;
	font-family: sans-serif;
	font-weight: 600;
}*/
/*h1 {
	text-align: center;
	font-size:75px;
}

.wrapper {
	width: 1230px;
	margin: 20px auto;
	padding: 40px;
	background: #ffffff;
}*/

/*p {
	text-align:center;
	color: #392C44;
	margin-bottom: 20px;
	margin-top:20px;
}

a {
	color: #392C44;
	border-bottom: 1px solid #ECD018;
	text-decoration:none;
}*/


canvas {
	background:url(http://www.travelagentcentral.com/files/travelagent/nodes/2011/27632/Hawaii_Generic.jpg);
}